.container {
    display: inline-block;
    border-radius: 25px;
    /* font-family: 'Poppins', 'sans-serif'; */
    overflow-Y: hidden;
    padding: 0 8rem;
}

.container h1 {
    align-items: center;
    text-transform: uppercase;
    color: red;
}

.container .canvas-container {
    display: inline-block;
    padding: 20px;
    margin-left: 15px;
}

.container .canvas-container .top-layer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .canvas-container .top-layer .title {
    width: 65%;
    word-wrap: break-word;
    text-align: start;
    margin-bottom: 20px;
}

.description {
    width: 300px;
    padding: 20px;
    color: #000022;
    /* position: absolute; */
    word-wrap: break-word;
    text-align: start;
    /* margin-bottom: 20px; */
}


/* .top-layer {
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1999;
    margin: 2rem;
} */

.container .canvas-container .buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    margin-top: -5rem;
}

.container .canvas-container .buttons-container .capture-area-btn {
    border: 1px solid #000022;
    padding: 6px;
    background: #00005a;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    margin-right: 10px
}

.container .canvas-container .buttons-container .capture-area-btn:hover {
    background-position: right center;
    color: #fff;
}

.container .canvas-container .buttons-container .neuro-mapping-btn {
    background: #00005a;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.container .canvas-container .view-areas-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    float: right;
    margin-top: -60px;
}

/* Views */
.container .canvas-container .views-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container .canvas-container .views-container label {
    border: 1px solid #00005a;
    padding: 3px;
    color: #fff;
    background-color: #00005a;
    font-weight: bold;
    border-radius: 5px;
}

.container .canvas-container .views-container select {
    background-color: #fff;
    padding: 6px;
    width: 250px;
    outline: none
}

/* Area */
.container .canvas-container .areas-container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container .canvas-container .areas-container label {
    border: 1px solid #00005a;
    padding: 3px;
    color: #fff;
    background-color: #00005a;
    font-weight: bold;
    border-radius: 5px;
}

.container .canvas-container .areas-container select {
    background-color: #fff;
    padding: 6px;
    width: 250px;
    outline: none
}


.container .ppid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.container .ppid-container label {
    border: 1px solid #00005a;
    padding: 3px;
    color: #fff;
    background-color: #00005a;
    font-weight: bold;
    border-radius: 5px;
}

.container .ppid-container input {
    padding: 5px;
    outline: none;
    border-color: #000022;
    text-align: center;
}

.container .canvas-container .brain-default-img-container,
.brain-img-container {
    display: flex;
    text-align: center;
    justify-content: center;
    /* width: 60vw;
    width: 65vw; */

}


.container .canvas-container .brain-default-img-container img,
.brain-img-container img {
    text-align: center;
    justify-content: center;
    width: 60vw;
    overflow: hidden;
    transition: transform .7s ease-in-out;
    will-change: transform;
    transform: scale(1.5);
    padding: 5rem;
}

.container .canvas-container .brain-default-img-container img:hover,
.brain-img-container img:hover {
    transform: scale(1.7);
}

/* .container .canvas-container .brain-default-img-container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 35vh;
    width: 65vw;
    overflow: hidden;
} */

.ppid-value {
    display: flex;
    margin-left: 30px;
}

/* Media queries - Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        display: block;
        margin-left: 25px;
    }

    .top-layer {
        background: transparent;
        position: unset;
        margin: 2rem;
    }

    .container .word span {
        font-size: 80px;
    }

    .container .canvas-container .buttons-container {
        display: inline-block;
        width: 100%;
    }

    .container .canvas-container .buttons-container .capture-area-btn {
        margin-bottom: 15px;
    }

    .container .canvas-container .view-areas-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* width: 105%; */
        margin-bottom: 0;
        margin-top: 50px;
    }

    .container .canvas-container .view-areas-container .areas-container {
        padding: 0;
    }

    .container .canvas-container .view-areas-container .areas-container label {
        margin-right: 0px;
    }

    .container .canvas-container .view-areas-container .areas-container select {
        width: 85%;
    }

    .container .canvas-container .brain-img-container {
        display: flex;
        text-align: center;
        width: 80vw;
        height: 80vw;
    }

    .container .ppid-container {
        padding: 0px;
        margin: 0px;
    }

    .container .ppid-container label {
        padding: 0px;
        font-size: 10px;
    }

}